
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  padding: 40px 5%;
  gap: 60px;
  flex-wrap: wrap;
}



.hero-section {
  flex: 1;
  max-width: 500px;
  color: #1a237e;
}

.hero-section h1 {
  font-size: 42px;
  color: #0d47a1;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 15px;
}

.hero-section h1 span {
  color: #1565c0;
}

.hero-section p {
  font-size: 18px;
  color: #37474f;
  margin-bottom: 20px;
  line-height: 1.7;
}

.features-list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #1e3a8a;
}

.features-list li {
  margin: 10px 0;
  background-color: #e3f2fd;
  padding: 10px 15px;
  border-radius: 8px;
 
}

.features-list li:hover {
  background-color: #bbdefb;
  transform: translateX(6px);
}


.login-container {
  width: 350px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #d6e6fb;
  box-shadow: 2px 2px 8px lightgray;
  text-align: center;
}


.login-container h2 {
  color: #0d47a1;
  font-size: 22px;
  margin-bottom: 8px;
}

.login-container h3 {
  color: #1565c0;
  font-size: 18px;
  margin-bottom: 20px;
}



.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #0d47a1; 
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #90caf9; 
  font-size: 14px;
  color: #0d47a1;
  background-color: #f9fbff; 
  box-sizing: border-box;
}

.form-group input:focus {
  border: 1px solid #1976d2;
  background-color: #ffffff;
  outline: none;
}




.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0d47a1;
}


.hint {
  margin-top: 15px;
  font-size: 14px;
  color: #333333;
}

.hint b {
  color: #1565c0;
}



@media (max-width: 900px) {
  .page-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-section {
    max-width: 100%;
  }
  .login-container {
    width: 100%;
    max-width: 380px;
  }
}
